<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Classroom</title>
</head>
<body>
<h1>Create Classroom</h1>
<p>
    <a href="/classrooms">Classroom list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-classroom}" th:object="${classroom}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create classroom"></td>
        </tr>
    </table>
</form>
</body>
</html>